#startingPage {
	position: fixed;
	top:0;
	left:0;
	display: block;
	width:100%;
	height: 100%;
	background-color: black;
}
#startingContent {
	position: relative;
	margin: 0 30%;
	background-color: snow;
	top: 100px;
	width: 50%;
	height:40%;
	padding-top:50px;
	border:5px solid green;

}

body {
	background-color: green;
	text-align: center;
}

#dealer {
	position:absolute;
	margin-top:100px;
	padding-top:0px 0px;
}

#status {
	margin-top:50px;
	height:100px;
	width:500px;
	padding-bottom:50px;


}

#player {
	text-align: center;
	position: absolute;
	margin-top:150px;
	padding:0px 0px ;

}
#gameInput {
	display: none;
}
#betButtons {
	display: none;
}

#playerCards {
	height:100px;
	width:50px;
	padding:0px 0px;
}
#dealerCards {
	height:100px;
	width:50px;
	padding:0px 0px;
}